.loginPage {
  display: block;
  margin: auto;
  width: 100%;
  padding: 0px 10px 0px 10px;

  ion-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  p {
    text-align: center;
    font-size: small;
    color: gray;
  }

  h3 {
    color: black;
    padding-bottom: 10px;
  }
}

.loginImage {
  img {
    display: block;
    margin:auto;
  }
}

.resetBtn {
  display: block;
  margin:auto;
  width: 33%;
}
.loginBtn {
  --color: white;
  --background: orange;
}
